@use "reset";

// mixins
@mixin text_preset($font-size, $line-height, $letter-spacing, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  font-weight: $font-weight;
}

@mixin btn($bg-color, $padding: 1rem 2.5rem) {
  background-color: $bg-color;
  color: $white;
  padding: $padding;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5em;
  text-decoration: none;
  transition: background-color 0.3s ease;

  &:hover {
    opacity: 0.9;
  }
}

// Typography
$font-primary: "Red Hat Display", sans-serif;
$font-weight-medium: 500;
$font-weight-black: 900;

// Colors
$cyan-600: hsl(192, 37%, 48%);
$cyan-300: hsl(192, 90%, 77%);
$purple-600: hsl(268, 34%, 53%);
$purple-300: hsl(268, 100%, 86%);
$slate-900: hsl(240, 21%, 20%);
$slate-600: hsl(240, 10%, 57%);
$slate-300: hsl(240, 18%, 85%);
$white: hsl(0, 0%, 98%);

// Main page
.page {
  min-height: 100vh;
  display: grid;
  place-content: center;
  margin: 0 auto;
  font-family: $font-primary;
}

// Nav
.navbar {
  width: 100%;
}

// Logo
.logo {
  width: 226px;
  height: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.logo__image {
  max-width: 119px;
  max-height: 28px;
}

// Hero
.hero {
  display: grid;
  // grid-auto-rows: minmax(auto, 20rem);
  max-width: 1440px;
  margin-bottom: 4rem;
}

.hero__faces-left {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.text-content {
  max-width: 28rem;
  height: 19.625em;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 1;
  grid-column: 2;
}

.text-content__title {
  @include text_preset(64px, 110%, 0px, 900);
  margin-bottom: 2rem;
  align-items: center;
  padding: 0 1rem;
}

.text-content__description {
  @include text_preset(18px, 110%, 0px, 500);
  color: $slate-600;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.text-content__button-group {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.text-content__button-download {
  @include btn($cyan-600);
  max-width: 193px;
  max-height: 56px;

  & span {
    color: $cyan-300;
  }
}

.text-content__button-info {
  @include btn($purple-600);
}

.hero__faces-right {
  display: flex;
  justify-content: flex-start;
  grid-row: 1;
  grid-column: 3;
  align-items: stretch;
}

.hero__number::before {
  content: "";
  background-color: $slate-300;
  width: 1px;
  height: 84px;
  bottom: 56px;
  position: absolute;
  left: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__number {
  margin: 0 auto;
  width: 56px;
  height: 56px;
  color: $slate-600;
  border: 1px solid $slate-300;
  border-radius: 50%;
  grid-row: 2;
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-block-start: 8.5rem;
}

// Main content
.main-content__container {
  max-width: 1440px;
  max-height: 883px;
}

.main-content {
  max-width: 1120px;
  margin: 0 auto;
}

.main-content__image-collage {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 4rem;
}

.main-content__image {
  width: 16rem;
  height: 16rem;
  border-radius: 8px;
}

.main-content-text {
  max-width: 544px;
  margin: 4rem auto 4.5rem;
}

.main-content-text__title {
  text-align: center;
}

.main-content-text__top-title {
  @include text_preset(16px, 110%, 4px, 900);
  color: $cyan-600;
  text-transform: uppercase;
}

.main-content-text__main-title {
  @include text_preset((40px), 110%, 0px, 900);
  color: $slate-900;
  padding: 1rem 3rem 2rem;
}

.main-content-text__description {
  text-align: center;
  color: $slate-600;
  padding: 0 2rem;
}

// Footer
.footer-cta {
  margin: 136px auto 0;
}

.footer-cta__container {
  max-width: 1440px;
  height: 420px;
  background-image: url("../assets/desktop/image-footer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  position: relative;
  height: 312px;
  // display: flex;
  // align-items: center;
}

.footer-cta__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: $cyan-600, $alpha: 0.8);
}

.footer-cta__number {
  margin: 0 auto;
  width: 56px;
  height: 56px;
  color: $slate-600;
  border: 1px solid $slate-300;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-bottom: -28px;
}

.footer-cta__content {
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0 10rem;
}

.footer-cta__title {
  @include text_preset(40px, 110%, 0px, 900);
  color: $white;
  z-index: 10;
}
